﻿/*  This file is part of Instant Currency Rates. Instant Currency Rates
	is an Opera extension that lets you view updates to the latest 
	currency exchange rates in an Opera Speed Dial.
	
    Copyright (C) 2012 M Shabeer Ali

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
	
	Website: http://currencyrate.tumblr.com/
	Source code: https://github.com/thewebdev/opera-extension-icr.git 
	Email: thewebdev@myopera.com */
	
/* RESET */
body {
	font-family:"Helvetica Neue", "Free Sans", Arial, Helvetica, sans-serif;
    font-size:0.7em;
    line-height:1.5;	
}
label {
	font-weight: bold;
}
h1 {
	margin: 1px;
	text-align:center;
	font-size:1.5em;
	text-transform: uppercase;
}
h2 {
	margin: 1px;
	text-align:left;
	font-size:1.2em;
}
ol {
	list-style-type: none;
	text-align:center;
}
li {	
	list-style-type: none;
	margin: 3px;
	color: #10600D;
	text-align:left;
}
a:link, a:visited, a:active {
	margin-right: 4px;
	padding: 0px 3px;
	color: #D40707;
	text-decoration:none;
	font-weight: 400;
	border: thin solid #F1B6B6;
	border-radius: 3px;
	background: #FFE7E7;
}

a:hover {
	font-weight: bold;
}
#options {
	width: 450px;
}
#msg {
	display: none;
	margin: 1px;
	padding: 1px;
	width: 450px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	background: #BC0808;
	border-radius: 4px;
}
#input label {
	padding:2px;
} 
#input select {
	margin:2px 2px 4px 2px;
} 
#swap {
	cursor: pointer;	
}
.noline {
	margin: 1px;
	padding: 6px 5px;
}
.optval {
	margin: 1px;
	padding: 6px 5px;
	border-top: thin dotted #CCC;
}
.submit {
	margin: 1px;
	padding: 5px;
	text-align: center;
}
#nav { 
	margin: 2px;
	padding: 2px;
	text-align: center;
}
#nav li {
	display: inline;
	list-style-type: none;
	padding: 0 3px 0 0;
}
#nav a:link, #nav a:visited, #nav a:active {
	color: #0644D4;
	font-weight: bold;
	border: none;
	background: #fff;
}
#nav a:hover {
	text-decoration:underline;
}
